/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
/* === color r75 g37 b130 === */

/* === global === */
.button.alert {
    background-color: rgba(75, 37, 130, 1);
    color: white; }
    .button.alert:hover, .button.alert:focus {
      background-color: rgba(75, 37, 130, 1);
      color: white; }
.post-meta {
	list-style: none; }
	.post-meta span.post-meta-key {
		display: none; }
	.post-meta li {
		color: rgba( 75, 37, 130, 1); }
/* === Header === */
.social .menu a {
	margin-top: -2rem;
	color: rgba(75, 37, 130, 1);
	font-size: 2rem; }
/* === slide === */
.slide .orbit-container {
	height: auto !important;}
.slide .orbit-container li {
	max-height: none !important; }
/* === navegacion === */
.navegacion .menu-centered {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(75, 37, 130, 1);
	margin-bottom: 0.5rem; }
.navegacion .menu li a {
	color: rgba( 75, 37, 130, 1);
	font-size: 1.5rem;
	padding: 0.7rem 3rem; }
.navegacion .menu li a:hover {
	font-size: bold;
	font-style: italic; }
.sub-navegacion .menu {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(75, 37, 130, 1);
	margin-bottom: 3rem;
	margin-top: 1rem; }
/* === slide === */
.lateral {
	background-color: rgba(75, 37, 130, 1); }
/* === proximos eventos === */
.contenido h1 {
	color: white;
	font-weight: bold;
	font-size: 2.5rem;
	background-color: rgba(75, 37, 130, 1); }
	.contenido h1.encuesta {
		background-color: lightgreen ; }
	.contenido h1.concurso {
		background-color: darkturquoise;  }
.contenido h3 {
	color: rgba(75, 37, 130, 1);
	font-weight: 500; }
.contenido.galima h4 {
	background-color: #f38f42;
	color: white; }
.contenido.galvids h4 {
	background-color: #da1359;
	color: white; }
.contenido h5, .contenido h5 small, .contenido p {
	color: rgba( 75, 37, 130, 1); }
.contenido h5, .contenido h5 small {
	font-weight: bold; }
.contenido .badge.link {
	background-color: #222222; }
.contenido .alinear-fondo {
	margin-top: 220px; }
.contenido .thum img {
	margin-bottom: 1rem; }
.meta {
	margin-bottom: 1rem;
	opacity: 0.6;
    font-size: 0.85rem; }
/* === footer === */
.footer {
	background: black;
	padding-top: 2rem; }
.footer .contacto {
	margin-bottom: 2rem; }
.footer a {
	color: white; }
.footer .badge.blanco {
	background-color: white;
	color: transparent; }
.footer .badge.azul {
	background-color: blue;
	color: transparent; }
.footer .badge.rojo {
	background-color: red;
	color: transparent; }
/* === galeria === */
.gallery {
    width: 100%;
    float: left; }
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 1024px) {
	.contenido .alinear-fondo {
		margin-top: 1rem; }
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 400px) {}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}