/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
/* === color r75 g37 b130 === */

/* === global === */
h1 {
	color: white;
	background-color: rgba(75, 37, 130, 1); }
/* === Header === */
.social .menu a {
	margin-top: -2rem;
	color: rgba(75, 37, 130, 1);
	font-size: 2rem; }
/* === navegacion === */
.navegacion .top-bar {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: rgba(75, 37, 130, 1);
	background: transparent;
	margin-bottom: 0.5rem; }
.navegacion .top-bar ul {
	background: transparent; }
/* === slide === */
.lateral {
	background-color: rgba(75, 37, 130, 1); }
/* === footer === */
.footer {
	background: black; }
.footer .menu {
	margin-top: 2rem;
	margin-bottom: 2rem; }
.footer .menu a {
	color: white; }
/* === disclaimer === */
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 780px) {}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 400px) {}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {}